<% content_for :head do%>
<%= javascript_include_tag :ckeditor %>
<% end %>

<%= form_for(@service, :html => { :multipart => true }) do |f| %>
<div class="box radius padded">
	<fieldset class="radius">
		<p>
			<%= f.label :logo %><br />
			<%= f.file_field :logo %>
		</p>
	</fieldset>
	<fieldset class="radius">
		<p>
			<%= f.label :nombre %><br />
			<%= f.text_field :nombre %>
		</p>
	</fieldset>
	<fieldset class="radius">
		<p>
			<%= f.label :descripcion %><br />
			<%= f.cktext_area :descripcion, :toolbar=>'Full', :width=>'400px', :height=>'200px' %>
		</p>
	</fieldset>
	<fieldset class="radius">
		<ul>
			<% for category in Category.all%>
			<li>
				<%= check_box_tag "service[category_ids][]", category.id, @service.categories.include?(category)%>
				<%= category.name%>
			</li>
			<% end %>
		</ul>
	</fieldset>
  
  <%@service.images.each do |img|%>

  <%= image_tag(img.data.url(:thumb))%>

  <%end %>
  
  <%=f.fields_for :images do |builder|%>
	<%=render "image_fields", :f =>builder%>
  <% end %>
  <p><%= link_to_add_fields "Add Image", f, :images %></p>
</div>
<hr class="thin" />
	<%= submit_tag "", :value => "► Save & Proceed", :class => "btn btn-custom radius fr" %>
	
  
<% end %>
<br />