<h1>Servicios</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Descripción</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @services.each do |service| %>
  <tr>
	<td><%= image_tag service.logo.url(:thumb) %></td>
    <td><%= link_to service.nombre, service %></td>
    <td><%= link_to 'Editar', edit_service_path(service) %></td>
    <td><%= link_to 'Eliminar', service, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo Servicio', new_service_path %>
