<%content_for :head do%>
<script type="text/javascript" charset="utf-8">
	$(document).ready(function(){
		
		$(document).ready(function(){
					$("a[rel^='prettyPhoto']").prettyPhoto({theme:'facebook', slideshow:5000, autoplay_slideshow:false});
				});
		
	});
</script>

<% end %>

<p id="notice"><%= notice %></p>
<p>
  <b>
  <%= @service.nombre %></b>
</p>

<%= image_tag @service.logo.url(:medium), :class => "logo" %>


<p>
  <b>Descripción:</b>
  <%= raw @service.descripcion %>
</p>

<p>
  <b>Galeria:</b>
</p>
<% @service.images.each do |image|%>
<%=link_to(image_tag(image.data.url(:thumb)), image.data.url, :rel=>"prettyPhoto[pp_gal]") %> 
<%end%>
<a href="http://www.youtube.com/watch?v=_snBMLwnWcM" rel="prettyPhoto[pp_gal]" title=""><img src="http://img.youtube.com/vi/_snBMLwnWcM/0.jpg" alt="YouTube" width="60" /></a>

<%= link_to 'Editar', edit_service_path(@service) %> |
<%= link_to 'Atras', services_path %>
