<div class="grid_12">
		<!-- Logo container -->
		<div id="logo"></div>
		
		<!-- Aside menu -->
		<div id="topmenu" class="tr">
			<% if user_signed_in? %>
				<%= link_to "Log out", destroy_user_session_path %> | 
			<% else %>
				<%= link_to "Sign in", new_user_session_path %> | 
			<% end%>
			<%= link_to "Registrate", new_user_registration_path %>
			
			
			
		</div>
		<!-- End of Aside menu -->
		
		<!-- Main navigation -->
		<div class="radius" id="navigation">
			<ul id="nav">
				<li class="current_page_item"><%= link_to "Home", root_path%></li>
				<li class="">
					<%= link_to "Categories", categories_path%>
					<!-- Dropdown menu -->
					<div class="dropdown_submenu tripple">
						<ul>
							<li class="dropdown_heading">Worldwide</li>
							<li><a href="#">North America</a></li>
							<li><a href="#">South America</a></li>
							<li><a href="#">Australia</a></li>
							<li><a href="#">Africa</a></li>
							<li><a href="#">Asia</a></li>
							<li><a href="#">Europe</a></li>
						</ul>
						<ul>
							<li class="dropdown_heading">Top Countries</li>
							<li><a href="#">USA</a></li>
							<li><a href="#">Italy</a></li>
							<li><a href="#">Netherlands</a></li>
							<li><a href="#">France</a></li>
							<li><a href="#">Singapore</a></li>
							<li><a href="#">Spain</a></li>
						</ul>
						<ul>
							<li class="dropdown_heading">Top Cities</li>
							<li><a href="#">Dubai</a></li>
							<li><a href="#">Rome</a></li>
							<li><a href="#">Dublin</a></li>
							<li><a href="#">Las Vegas</a></li>
							<li><a href="#">Singapore</a></li>
							<li><a href="#">Amsterdam</a></li>
						</ul>
						<a class="dropdown_subfoot" href="#">Browse destinations &raquo;</a>
					</div>				
					<!-- End of Dropdown menu -->
				</li>
				<li class=""><%= link_to "Services", services_path%></li>
				<li class=""><a title="Vacation Ideas" href="#">Vacation Ideas</a></li>
				<li class="separator">&nbsp;</li>
				<li class=""><%= link_to "Contact", contact_info_index_path%></li>
				<li class="separator">&nbsp;</li>
				<li class="">
					<a title="My Bookings" href="#">Sample Pages</a>
					<!-- Dropdown menu -->
					<div class="dropdown_submenu double">
						<ul>
							<li class="dropdown_heading">Hotels</li>
							<li><a href="index.htm">Homepage</a></li>
							<li><a href="search.htm">Search hotels</a></li>
							<li><a href="browse.htm">Browse destinations</a></li>
							<li><a href="hotel.htm">Hotel data</a></li>
							<li><a href="print-map.htm">Print preview</a></li>
							<li><a href="checkout.htm">Checkout</a></li>
						</ul>
						<ul>
							<li class="dropdown_heading">Misc</li>
							<li><a href="contact.htm">Contact page</a></li>
							<li><a href="faq.htm">FAQ</a></li>
							<li><a href="full.htm">Full width page</a></li>
							<li><a href="sitemap.htm">Sitemap</a></li>
							<li><a href="typography.htm">Typography</a></li>
						</ul>
					</div>				
					<!-- End of Dropdown menu -->
				</li>
			</ul><!-- /#nav -->
		</div>
		<!-- End of Main navigation -->
		
</div>