<div id="wrapper" class="hfeed">
	<div id="user_nav">
		<% if current_user%>
		Logged in as <%= current_user.email%>
		<%= link_to "Log Out", log_out_path%>
		<% else %>
		<%= link_to "Sign up", sign_up_path %>
		<%= link_to "log in", log_in_path %>
		<% end %>
	</div>
	<div id="header">
		<div id="masthead">
			<div id="branding">
	
				<div id="site-description">
				
				</div>
				
<%=link_to  image_tag("turumbalogo.png", :alt => "", :class =>"redondeado"),services_url()%>
			</div><!-- #branding -->

	<div id="access">
		<div class="skip-link screen-reader-text">
			<a href="#content"title="Skip to content">Skip to content</a>
		</div>
		<div class="menu-header">
			<ul id="menu-menu-principal"class="menu">
				<li id="menu-item-1" class="menu-item menu-item-type-custom">
					<%=link_to "Servicios", services_url()%>
					
					<ul class="sub-menu">										
						<li id="menu-item-2" class="menu-item menu-item-type-post_type ultimo">
						<%=link_to "Servicios", services_url()%>
						</li>						
					</ul>
				</li>				
			</ul>
			<ul id="menu-menu-principal"class="menu">
				<li id="menu-item-1" class="menu-item menu-item-type-custom">
					<%=link_to "Categorias", categories_url()%>
					
					<ul class="sub-menu">										
						<li id="menu-item-2" class="menu-item menu-item-type-post_type ultimo">
						<%=link_to "Category", categories_url()%>
						</li>						
					</ul>
				</li>				
			</ul>
		</div>
	</div><!-- #access -->
</div><!-- #masthead -->
</div><!-- #header -->